    /*Generales*/
    
    body{
        margin: 0;
        padding: 0;
        font-family: "Public Sans", sans-serif;
        font-size: 0.875rem;
        font-weight: 300;
        color: #9698a6;
        color: #023C58;
        line-height: 1.3;
        overflow-x: hidden;
    } 
    h1, h2, h3 {
        font-weight: 300;
        line-height: 1.15;
        color: #2d314d;
        margin-top: 0px;
    }  
    p{
        color: #9698a6;
    }

    a{
        text-decoration: none;
        color: black;
    }

    button{
        position: relative;
        display: inline-block;
        padding: 0.875rem 2.1875rem;
        background-image: linear-gradient(to right, #023C58, #2bb7da);
        border: 0;
        border-radius: 50px;
        cursor: pointer;
        font-family: "Public Sans", sans-serif;
        color: white;
        font-weight: 400;
        font-size: 0.875rem;
        transition: opacity 300ms ease-in-out;
        overflow: hidden;
        box-sizing: inherit;}
    

    /*Propiedades del Cabecero*/

    .Container{
        width: min(80%, 1200px);
        margin: 0 auto;
    }

    header{
        display: flex;
        min-height: 70px;
        justify-content:space-between;
        background-color: #25779F;
        align-items: center;
    }
    .Logo img{
        height: 130px;
        width:  130px;
    }

    .Navegador{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav a{
        font-weight: 700;
        padding-right: 10px;
        font-size: 17px;
    }

    nav  :hover{
        color: white;
    }

    @media (max-width:700px){

        .options{
            display: block;
        }
        
        header{
            flex-direction: column;
        }

        nav{
            padding: 10px 0px;
        }
    }

    /*Propiedades del Contenedor*/

    .INFO{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
    }

    .INFO img{
        height: 500px;
        padding-top: 10px;
    }
    /*Propiedades del About Us*/

    .About{
        padding-top: 30px;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    .About h1{
        text-align: center;
        align-self: center;
        font-size: 35px;
    }
    .ButtonAb{
       display: flex;
       justify-content: center;
    }
    .Prefuter{
    display: flex;
    justify-content: center;
    height: 830px;
    }

    /*Footer*/

    .Abajo{
        padding-top: 10px;
    }

    footer{
        margin-top: 50px;
        background-color: #023C58;
        align-items: center;
    }
    footer img{
        width: 130px;
    }